textarea{
  background-color: #252526 !important;
  border: none !important;
  outline: none !important;
  color: #b0b3b8 !important;
  font-size: x-large !important;
  resize: none;
  overflow:hidden;
}

.inputForm{
  background-color: #333334 !important;
  border: none !important;
  outline: none !important;
  color: #b0b3b8 !important;
  font-size: large !important;
  resize: none;
  overflow:hidden;
  
}

// .inputForm:hover{
//   background-color: #252526 !important; 
// }

.postButton {
  background-color: #505151 ;
  color: #828c8c;
}



.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  margin: 0px;
  padding: 0px;
  border: none;
}

.addToPost {
  border: 1px solid #505151;
}

.newColor {
  color: lightsteelblue;
  cursor: pointer;
}

.newColor:hover {
  opacity: .8;
  transition: .3s;
}

.editFontSize {
  font-size: .9rem !important;
} 