.postImg {
  height: 55vh;
  width: 100%;
  
  object-fit: cover;
  object-position: center;
  padding: 0px;
}

.postAvatar {
  height: 5vh;
  width: 3vw;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  padding: 0px;
}

body{ 
  background-color: rgb(24, 25, 26);
}

.cardBody {
  background-color: rgb(36, 37, 38);
  border-radius: 2%;
  color: white;
}

.buttonColor {
  color: #b0b3b8;
  cursor:pointer;
  height: 35px;
  width: 35px;
}

.buttonColor:hover {
  // text-shadow: 1px 0px 4px #cbcdd2;
  background-color: #48484a;
  border-radius: 50%;
}

.textWeight {
  font-weight: 200;
}

.marginRight {
  padding-inline: 0px;
}

// .borderRadius{
//   height: 50px;
//   width: 50px;
// }

.greyColor {
  color: #b0b3b8;
}

.likeButton {
  color: #b0b3b8;
}

.likeButton:hover {
  cursor: pointer !important;
  opacity: .75;
  background-color: #48484a;
}

.borderComment {
  border-top: 1px solid #3e4042;
  border-bottom: 1px solid #3e4042;
}